# ignore files generated in/by notebooks
*.csv
*.pdf

.ipynb_checkpoints/
*.pyc

# ignore extra files
notebooks/*
!notebooks/*.ipynb

# dont ignore extracts
!/extracts/
!/extracts/*.csv

# ignore macOS system files
.DS_Store
notebooks/.DS_Store
